{% extends "aa_survey/base.html" %}

{% load aa_survey_versioned_static %}
{% load evelinks %}
{% load static %}
{% load i18n %}

{% block page_title %}{% translate "Surveys" %}{% endblock %}

{% block aa_survey_header %}
    <br>

    {% include "aa_survey/partials/menu.html" %}
{% endblock %}

{% block aa_survey_body %}
    {% include "aa_survey/partials/survey/survey/survey.html" %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% versioned_static 'aa_survey/css/aa-bootstrap-fix.min.css' %}">
{% endblock %}

{% block extra_javascript %}
{% endblock %}
