{% load i18n %}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            {% translate "Surveys" %}
        </div>
    </div>

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-vertical-middle aa-survey-survey-forms" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Participants</th>
                        <th><!-- Actions --></th>
                    </tr>
                </thead>

                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
